<!DOCTYPE html>
<html layout:decorate="layouts/defaultLayout"
						 lang="en"
						 xmlns:th="http://www.thymeleaf.org"
						 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">>
<head >
	 <meta charset="UTF-8">
	 <title >Title</title >
	 
	 <!-- Extra CSS for datepicker -->
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
	 
</head >
<body >

<div layout:fragment="content"  class="mt-3 ms-3" >
	 <form method="post" th:action="@{/todo/add/list}" th:object="${lists}" >
<div class="mb-3">
	 <label for="assignment" class="form-label">Assignment</label>
	 <input th:field="*{assignment}" type="text" class="form-control" id="assignment" placeholder="introduce the assignment">
</div>
<div class="mb-3">
	 <label for="exampleFormControlTextarea1" class="form-label">Description</label>
	 <textarea  th:field="*{description}" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
	 <div class="container mt-4">
			<label for="date">Select a date:</label>
			<input th:field="*{date}" type="text" class="form-control" id="date">
	 </div>
</div>
			<div class="mt-3 ms-3">
			<button class="btn btn-primary" type="submit">Submit list</button>
			</div>
	 </form>
</div>


<!-- Page-specific scripts in this case for the date picker -->
<section layout:fragment="scripts">
	
	 <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	 
	 
	 <!-- This code is made through jquery library/framework: -->
	 <script>
			document.addEventListener('DOMContentLoaded', function() {
				flatpickr("#date", {
					dateFormat: "Y-m-d",
					// other options like autoclose are built-in
				});
			});
	 </script>
</section>
</body >
</html >