<!DOCTYPE html>
<html
     lang="en"
     xmlns:th="http://www.w3.org/1999/xhtml"
     layout:decorate="~{layouts/defaultLayout}"
     xmlns:layout="http://www.w3.org/1999/xhtml"
>
<head >
  <meta charset="UTF-8">
  <title >Title</title >
</head >
<body >

<div layout:fragment="content">
  <div class="container mt-3 mb-3">
    <form th:action="@{/todo/search}" method="post" th:object="${searchModel}">
      <label for="searchTermInput" class="form-label">Search for</label>
      <input th:field="*{searchTerm}" type="text" class="form-control" id="searchTermInput" aria-describedby="searchHelp">
      <div id="searchHelp" class="form-text">search the term from the list</div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
  </div>
</div>

</body >
</html >